.card{
    background-color: #79b6ff !important;
    /*opacity: 0.5;*/
    border-radius: 8px !important;
    border-left:5px solid black;
}
.card-action a{
    margin: 0 !important;
}
.card-action button {
    margin:0 8px;
}
textarea{
    height: 100px !important;
}